# CMake Build Pipeline for WarpTPS
# Builds the project using CMake and Visual Studio 2022

trigger:
- master
- main

pool:
  vmImage: 'windows-2022'

variables:
  buildPlatform: 'x64'
  buildConfiguration: 'Release'

steps:
- task: NuGetCommand@2
  displayName: 'Restore NuGet Packages'
  inputs:
    command: 'restore'
    restoreSolution: 'packages.config'
    restoreDirectory: 'packages'

- task: CMake@1
  displayName: 'Configure CMake'
  inputs:
    workingDirectory: '$(Build.BinariesDirectory)'
    cmakeArgs: |
      -G "Visual Studio 17 2022"
      -A $(buildPlatform)
      -DUSE_MFC=ON
      -DCMAKE_BUILD_TYPE=$(buildConfiguration)
      $(Build.SourcesDirectory)

- task: CMake@1
  displayName: 'Build with CMake'
  inputs:
    workingDirectory: '$(Build.BinariesDirectory)'
    cmakeArgs: '--build . --config $(buildConfiguration) -j 4'

- task: VSTest@2
  displayName: 'Run C++ Unit Tests'
  inputs:
    testSelector: 'testAssemblies'
    testAssemblyVer2: |
      **\*UnitTest*.dll
      !**\*TestAdapter.dll
      !**\obj\**
    searchFolder: '$(Build.BinariesDirectory)'
    codeCoverageEnabled: true
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: UsePythonVersion@0
  displayName: 'Use Python 3.12'
  inputs:
    versionSpec: '3.12'
    addToPath: true

- script: |
    python -m pip install --upgrade pip
    pip install -e ".[dev]"
  displayName: 'Install Python Package and Dependencies'
  workingDirectory: '$(Build.SourcesDirectory)'

- script: |
    pytest tests/ -v --tb=short --junitxml=$(Build.BinariesDirectory)/pytest-results.xml
  displayName: 'Run Python Unit Tests'
  workingDirectory: '$(Build.SourcesDirectory)'

- task: PublishTestResults@2
  displayName: 'Publish Python Test Results'
  condition: always()
  inputs:
    testResultsFormat: 'JUnit'
    testResultsFiles: '$(Build.BinariesDirectory)/pytest-results.xml'
    testRunTitle: 'Python Tests'

- task: CopyFiles@2
  displayName: 'Copy Build Artifacts'
  inputs:
    SourceFolder: '$(Build.BinariesDirectory)'
    Contents: |
      bin\$(buildConfiguration)\*.exe
      lib\$(buildConfiguration)\*.lib
    TargetFolder: '$(Build.ArtifactStagingDirectory)'

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifacts'
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'WarpTPS-$(buildPlatform)-$(buildConfiguration)'
    publishLocation: 'Container'
