# C/C++ with MSBuild
# Build your C/C++ project with MSBuild.
# Add steps that publish test results, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/c-cpp/gcc

trigger:
- master

pool:
  vmImage: 'windows-latest'

steps:
- pwsh: |
    $vsWhere = "${env:ProgramFiles(x86)}\Microsoft Visual Studio\Installer\vswhere.exe"
    $vsPath = & $vsWhere -latest -property installationPath
    Write-Host "Visual Studio path: $vsPath"
    $installer = "${env:ProgramFiles(x86)}\Microsoft Visual Studio\Installer\vs_installer.exe"
    & $installer modify --installPath "$vsPath" --add Microsoft.VisualStudio.Component.VC.ATLMFC --quiet --wait
  displayName: 'Install MFC libraries'

- task: NuGetCommand@2
  displayName: 'Restore NuGet packages'
  inputs:
    command: 'restore'
    restoreSolution: '**/*.sln'

- script: |
    git clone https://github.com/Microsoft/vcpkg.git
    cd vcpkg
    call bootstrap-vcpkg.bat
    vcpkg integrate install
    vcpkg install boost:x64-windows opencv4:x64-windows zlib:x64-windows
  displayName: 'Install vcpkg dependencies (Boost, OpenCV, zlib)'

- task: MSBuild@1
  displayName: 'Build solution'
  inputs:
    solution: '**/*.sln'
    platform: 'x64'
    configuration: 'Release'
